In [2]:
import pandas as pd
import numpy as np
import re
import psycopg2
import csv
from datetime import datetime
import pytz
from datetime import datetime

# Database credentials
user = "cspoms"
password = "cspoms"
host = "gc-ue4-psql-cspo-dev01.nonprod.gcp.cswg.com"
port = "5432"
database = "CSPODB"
sslmode = "verify-ca"
sslcert= "C:\\Users\\DELL\\OneDrive\\Documents\\GitHub\\TPRelex\\RELEX-Y\\CSPOMS_DEV_Conn\\client-cert.pem"
sslkey= "C:\\Users\\DELL\\OneDrive\\Documents\\GitHub\\TPRelex\\RELEX-Y\\CSPOMS_DEV_Conn\\client-key.pem"
sslrootcert= "C:\\Users\\DELL\\OneDrive\\Documents\\GitHub\\TPRelex\\RELEX-Y\\CSPOMS_DEV_Conn\\server-ca.pem"

# Initialize cursor and connection to None
connection = None
cursor = None


# Establish the connection
connection = psycopg2.connect(
    database=database,
    user=user,
    password=password,
    host=host,
    port=port,
    sslmode=sslmode,
    sslcert=sslcert,
    sslkey=sslkey,
    sslrootcert=sslrootcert
)
post_cur = connection.cursor()
request_id = 46
# Define query and parameters
insert_base_df = f'select * from xxpo_po_recon_inbound_stg where request_id = {request_id}'
post_cur.execute(insert_base_df)

error_df = post_cur.fetchall()
            # Get column names from the cursor description
column_names = [desc[0] for desc in post_cur.description]


# Get the current time in UTC
utc_now = datetime.utcnow()

# Define the EST timezone
est_tz = pytz.timezone('America/New_York')

# Convert UTC time to EST
est_now = utc_now.astimezone(est_tz)

# Convert the fetched data to a pandas DataFrame
df = pd.DataFrame(error_df,columns =column_names)
df['file_name'] = None
df['creation_date'] = est_now
df['last_update_date'] = est_now
df['request_id'] = request_id
df['process_status'] = "N"
df

,po_num,facility,order_date,vendor_num,due_date,perish_po,po_type,bic_buyer_id,po_received,pullback_flag,...,request_id,created_by,creation_date,last_updated_by,last_update_date,last_update_login,inbound_source,process_status,error_message,file_name
0,815966,904,2022-08-01,137693,2023-02-28,N,,JZ,,N,...,46,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,None,Oracle,N,PO in Oracle but NOT in CSPOMS,None
1,245345,252,2022-10-10,4282,2023-03-16,N,,IH,,N,...,46,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,None,Oracle,N,PO in Oracle but NOT in CSPOMS,None
2,251735,905,2022-10-12,101046,2023-03-08,N,,KB,,N,...,46,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,None,Oracle,N,PO in Oracle but NOT in CSPOMS,None
3,255347,252,2022-10-14,3780,2023-03-03,N,,IH,,N,...,46,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,None,Oracle,N,PO in Oracle but NOT in CSPOMS,None
4,258466,252,2022-10-17,3067,2023-03-02,N,,IH,,N,...,46,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,None,Oracle,N,PO in Oracle but NOT in CSPOMS,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3170,165986,302,2023-02-27,4157,2023-03-09,Y,,MT,,N,...,46,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,None,Oracle,N,PO in Oracle but NOT in CSPOMS,None
3171,165985,302,2023-02-27,9281,2023-03-03,Y,,MT,,N,...,46,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,None,Oracle,N,PO in Oracle but NOT in CSPOMS,None
3172,165987,302,2023-02-27,15326,2023-03-03,Y,,MT,,N,...,46,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,None,Oracle,N,PO in Oracle but NOT in CSPOMS,None
3173,506455,904,2023-02-27,161350,2023-03-09,N,,H5,,N,...,46,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,None,Oracle,N,PO in Oracle but NOT in CSPOMS,None
3174,506456,904,2023-02-27,389634,2023-03-06,N,,H5,,N,...,46,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,None,Oracle,N,PO in Oracle but NOT in CSPOMS,None

In [11]:
df

,po_num,facility,order_date,vendor_num,due_date,perish_po,po_type,bic_buyer_id,po_received,pullback_flag,...,request_id,created_by,creation_date,last_updated_by,last_update_date,last_update_login,inbound_source,process_status,error_message,file_name
0,815966,904,2022-08-01,137693,2023-02-28,N,,JZ,,N,...,46,CSPOMS,2024-10-14 16:34:56,CSPOMS,2024-10-14 16:34:56,None,Oracle,E,PO in Oracle but NOT in CSPOMS,RECON_PO.IN600.20230227230124
1,245345,252,2022-10-10,4282,2023-03-16,N,,IH,,N,...,46,CSPOMS,2024-10-14 16:34:56,CSPOMS,2024-10-14 16:34:56,None,Oracle,E,PO in Oracle but NOT in CSPOMS,RECON_PO.IN600.20230227230124
2,251735,905,2022-10-12,101046,2023-03-08,N,,KB,,N,...,46,CSPOMS,2024-10-14 16:34:56,CSPOMS,2024-10-14 16:34:56,None,Oracle,E,PO in Oracle but NOT in CSPOMS,RECON_PO.IN600.20230227230124
3,255347,252,2022-10-14,3780,2023-03-03,N,,IH,,N,...,46,CSPOMS,2024-10-14 16:34:56,CSPOMS,2024-10-14 16:34:56,None,Oracle,E,PO in Oracle but NOT in CSPOMS,RECON_PO.IN600.20230227230124
4,258466,252,2022-10-17,3067,2023-03-02,N,,IH,,N,...,46,CSPOMS,2024-10-14 16:34:56,CSPOMS,2024-10-14 16:34:56,None,Oracle,E,PO in Oracle but NOT in CSPOMS,RECON_PO.IN600.20230227230124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3170,165986,302,2023-02-27,4157,2023-03-09,Y,,MT,,N,...,46,CSPOMS,2024-10-14 16:34:56,CSPOMS,2024-10-14 16:34:56,None,Oracle,E,PO in Oracle but NOT in CSPOMS,RECON_PO.IN600.20230227230124
3171,165985,302,2023-02-27,9281,2023-03-03,Y,,MT,,N,...,46,CSPOMS,2024-10-14 16:34:56,CSPOMS,2024-10-14 16:34:56,None,Oracle,E,PO in Oracle but NOT in CSPOMS,RECON_PO.IN600.20230227230124
3172,165987,302,2023-02-27,15326,2023-03-03,Y,,MT,,N,...,46,CSPOMS,2024-10-14 16:34:56,CSPOMS,2024-10-14 16:34:56,None,Oracle,E,PO in Oracle but NOT in CSPOMS,RECON_PO.IN600.20230227230124
3173,506455,904,2023-02-27,161350,2023-03-09,N,,H5,,N,...,46,CSPOMS,2024-10-14 16:34:56,CSPOMS,2024-10-14 16:34:56,None,Oracle,E,PO in Oracle but NOT in CSPOMS,RECON_PO.IN600.20230227230124
3174,506456,904,2023-02-27,389634,2023-03-06,N,,H5,,N,...,46,CSPOMS,2024-10-14 16:34:56,CSPOMS,2024-10-14 16:34:56,None,Oracle,E,PO in Oracle but NOT in CSPOMS,RECON_PO.IN600.20230227230124

In [ ]:
insert_base_df = f'select * from xxpo_headers_all where request_id = {request_id}'
post_cur.execute(insert_base_df)

error_df = post_cur.fetchall()

In [17]:
cspoms_oracle_query = '''
SELECT 
    xph.po_num,
    xph.po_selection_fac AS facility,
    xph.po_date_ordered AS order_date,
    xph.vendor_number AS vendor_num,
    xph.po_need_by_date AS due_date,
    xph.po_rec_type AS perish_po,
    xph.po_type
    ,cb.biceps_buyer_id AS bic_buyer_id
    ,xph.received_date as po_received
    ,xph.po_transfer_flag as pullback_flag
    --as po_oss_dest
    ,xph.secondary_po_num as secondary_po
    ,'CSPOMS' as recon_origin
    ,'CSPOMS' as inbound_source

FROM 
    xxpo_po_headers xph
inner JOIN 
    cspoms_replenishment_config cfg ON xph.po_selection_fac = cfg.facility_code
    AND cfg.facility_type = 'Oracle' 
LEFT JOIN 
    XXPO_CUSTOM_BUYERS cb ON xph.po_buyer_number = cb.buyer_number
    AND cb.end_date IS NULL  
WHERE 
    xph.po_status = 'Open' 
    AND xph.received_date IS NULL;
'''

post_cur.execute(cspoms_oracle_query)
c_column_names = [desc[0] for desc in post_cur.description]
cspoms_oracle_df = post_cur.fetchall()
cspoms_oracle_df = pd.DataFrame(cspoms_oracle_df, columns=c_column_names)

cspoms_oracle_df

,po_num,facility,order_date,vendor_num,due_date,perish_po,po_type,bic_buyer_id,po_received,pullback_flag,secondary_po,recon_origin,inbound_source
0,32512,904,2024-10-14,100952,2024-10-22,R,None,E2,None,None,32512,CSPOMS,CSPOMS
1,32466,250,2024-09-03,1627,2024-09-24,R,None,BJ,None,None,32466,CSPOMS,CSPOMS
2,32159,250,2024-09-03,3630,2024-09-10,R,None,None,None,None,32159,CSPOMS,CSPOMS
3,20009405,250,2024-09-19,34833,2024-09-26,R,None,II,None,None,803106,CSPOMS,CSPOMS
4,32452,250,2024-09-03,591308,2024-09-23,R,None,BJ,None,None,32452,CSPOMS,CSPOMS
5,32408,305,2024-09-03,990396,2024-09-17,R,None,20,None,None,32408,CSPOMS,CSPOMS
6,32618,250,2024-10-21,342716,2024-10-31,R,None,AK,None,None,32618,CSPOMS,CSPOMS
7,32619,250,2024-10-21,34421,2024-10-31,R,None,AK,None,None,32619,CSPOMS,CSPOMS
8,32278,303,2024-09-03,990171,2024-09-09,R,None,IZ,None,None,32278,CSPOMS,CSPOMS
9,32625,305,2024-10-21,990387,2024-10-31,R,None,10,None,None,32625,CSPOMS,CSPOMS
10,32626,305,2024-10-21,636179,2024-10-31,R,None,10,None,None,32626,CSPOMS,CSPOMS
11,32161,250,2024-09-03,34661,2024-09-10,R,None,AK,None,None,32161,CSPOMS,CSPOMS
12,32175,305,2024-09-03,990691,2024-09-17,R,None,20,None,None,32175,CSPOMS,CSPOMS
13,32184,250,2024-09-03,1748,2024-09-25,R,None,BJ,None,None,32184,CSPOMS,CSPOMS
14,32192,250,2024-09-10,562048,2024-09-26,R,None,BJ,None,None,32192,CSPOMS,CSPOMS
15,32170,250,2024-09-03,1438,2024-09-13,R,None,BJ,None,None,32170,CSPOMS,CSPOMS
16,32558,905,2024-10-21,300671,2024-10-24,R,None,JT,None,None,32558,CSPOMS,CSPOMS
17,32592,305,2024-10-22,990573,2024-10-29,R,None,20,None,None,32592,CSPOMS,CSPOMS
18,32465,250,2024-09-03,2747,2024-09-24,R,None,BJ,None,None,32465,CSPOMS,CSPOMS
19,32276,305,2024-09-03,990356,2024-09-09,R,None,20,None,None,32276,CSPOMS,CSPOMS
20,32654,305,2024-10-21,990675,2024-11-05,R,None,10,None,None,32654,CSPOMS,CSPOMS
21,32655,305,2024-10-21,442830,2024-11-05,R,None,10,None,None,32655,CSPOMS,CSPOMS
22,32410,250,2024-09-03,2129,2024-09-17,R,None,AK,None,None,32410,CSPOMS,CSPOMS
23,32559,904,2024-10-21,100740,2024-10-24,R,None,H3,None,None,32559,CSPOMS,CSPOMS
24,32560,904,2024-10-21,100706,2024-10-24,R,None,H3,None,None,32560,CSPOMS,CSPOMS
25,32561,904,2024-10-21,100799,2024-10-24,R,None,H3,None,None,32561,CSPOMS,CSPOMS
26,32562,904,2024-10-21,100821,2024-10-24,R,None,H3,None,None,32562,CSPOMS,CSPOMS
27,32563,904,2024-10-21,100158,2024-10-24,R,None,H3,None,None,32563,CSPOMS,CSPOMS
28,32564,904,2024-10-21,343991,2024-10-24,R,None,H3,None,None,32564,CSPOMS,CSPOMS
29,32265,305,2024-10-21,990399,2024-11-04,R,None,10,None,None,32265,CSPOMS,CSPOMS
30,32266,305,2024-10-21,990707,2024-11-04,R,None,10,None,None,32266,CSPOMS,CSPOMS
31,32164,250,2024-09-03,3630,2024-09-11,R,None,None,None,None,32164,CSPOMS,CSPOMS
32,32623,305,2024-10-21,990387,2024-10-31,R,None,10,None,None,32623,CSPOMS,CSPOMS
33,32624,305,2024-10-21,636179,2024-10-31,R,None,10,None,None,32624,CSPOMS,CSPOMS
34,32556,905,2024-10-21,326189,2024-10-24,R,None,JT,None,None,32556,CSPOMS,CSPOMS
35,32557,905,2024-10-21,362180,2024-10-24,R,None,JT,None,None,32557,CSPOMS,CSPOMS
36,32468,305,2024-09-03,990713,2024-09-24,R,None,20,None,None,32468,CSPOMS,CSPOMS
37,32435,305,2024-09-03,990056,2024-09-18,R,None,17,None,None,32435,CSPOMS,CSPOMS
38,32160,250,2024-09-03,3630,2024-09-10,R,None,None,None,None,32160,CSPOMS,CSPOMS
39,32182,254,2024-09-23,316110,2024-09-24,R,None,F1,None,None,32182,CSPOMS,CSPOMS
40,32440,305,2024-09-03,990658,2024-09-19,R,None,20,None,None,32440,CSPOMS,CSPOMS
41,32467,250,2024-09-03,1627,2024-09-24,R,None,BJ,None,None,32467,CSPOMS,CSPOMS
42,32183,254,2024-09-23,316110,2024-09-24,R,None,L2,None,None,32183,CSPOMS,CSPOMS
43,32493,251,2024-09-03,547031,2024-10-08,R,None,DI,None,None,32493,CSPOMS,CSPOMS
44,32470,250,2024-09-03,3238,2024-09-24,R,None,AK,None,None,32470,CSPOMS,CSPOMS
45,32314,904,2024-09-03,5704,2024-09-10,R,None,KD,None,None,32314,CSPOMS,CSPOMS
46,32367,250,2024-09-05,3864,2024-09-16,R,None,None,None,None,32367,CSPOMS,CSPOMS
47,32268,250,2024-10-23,225601,2024-12-02,R,None,AA,None,None,32268,CSPOMS,CSPOMS
48,32267,250,2024-10-08,4019,2024-11-15,R,None,None,None,None,32267,CSPOMS,CSPOMS
49,32401,251,2024-09-03,309958,2024-09-17,R,None,BJ,None,None,32401,CSPOMS,CSPOMS
50,32269,250,2024-10-23,2499,2024-12-02,R,None,AA,None,None,32269,CSPOMS,CSPOMS
51,32186,250,2024-09-19,34834,2024-09-26,R,None,II,None,None,32186,CSPOMS,CSPOMS

In [22]:
file_oracle_query = '''select po_num::integer from xxpo_po_recon_inbound_stg where request_id = 46'''
post_cur.execute(file_oracle_query)
# Get column names from the cursor description
column_names = [desc[0] for desc in post_cur.description]
file_oracle_df = post_cur.fetchall()
file_oracle_df = pd.DataFrame(file_oracle_df, columns=column_names)

file_oracle_df

      po_num
0     815966
1     245345
2     251735
3     255347
4     258466
...      ...
3170  165986
3171  165985
3172  165987
3173  506455
3174  506456

[3175 rows x 1 columns]

In [27]:
# Extract only `po_num` column for comparison
cspoms_po_nums = cspoms_oracle_df['po_num']
file_po_nums = file_oracle_df['po_num']
request_id = -999
# Identify PO numbers in CSPOMS but not in Oracle, keeping all columns
po_not_in_oracle = cspoms_oracle_df[~cspoms_oracle_df['po_num'].isin(file_po_nums)].copy()

# Add error message and process status for the new dataframe
po_not_in_oracle['error_message'] = 'In CSPOMS but not in Oracle'
po_not_in_oracle['process_status'] = 'E'
po_not_in_oracle['created_by'] = "CSPOMS"
po_not_in_oracle['creation_date'] = est_now
po_not_in_oracle['last_updated_by'] = "CSPOMS"
po_not_in_oracle['last_update_date'] = est_now
po_not_in_oracle['request_id'] = request_id

# Display the resulting dataframe with all columns
po_not_in_oracle

,po_num,facility,order_date,vendor_num,due_date,perish_po,po_type,bic_buyer_id,po_received,pullback_flag,secondary_po,recon_origin,inbound_source,error_message,process_status,created_by,creation_date,last_updated_by,last_update_date,request_id
0,32512,904,2024-10-14,100952,2024-10-22,R,None,E2,None,None,32512,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
1,32466,250,2024-09-03,1627,2024-09-24,R,None,BJ,None,None,32466,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
2,32159,250,2024-09-03,3630,2024-09-10,R,None,None,None,None,32159,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
3,20009405,250,2024-09-19,34833,2024-09-26,R,None,II,None,None,803106,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
4,32452,250,2024-09-03,591308,2024-09-23,R,None,BJ,None,None,32452,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
5,32408,305,2024-09-03,990396,2024-09-17,R,None,20,None,None,32408,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
6,32618,250,2024-10-21,342716,2024-10-31,R,None,AK,None,None,32618,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
7,32619,250,2024-10-21,34421,2024-10-31,R,None,AK,None,None,32619,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
8,32278,303,2024-09-03,990171,2024-09-09,R,None,IZ,None,None,32278,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
9,32625,305,2024-10-21,990387,2024-10-31,R,None,10,None,None,32625,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
10,32626,305,2024-10-21,636179,2024-10-31,R,None,10,None,None,32626,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
11,32161,250,2024-09-03,34661,2024-09-10,R,None,AK,None,None,32161,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
12,32175,305,2024-09-03,990691,2024-09-17,R,None,20,None,None,32175,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
13,32184,250,2024-09-03,1748,2024-09-25,R,None,BJ,None,None,32184,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
14,32192,250,2024-09-10,562048,2024-09-26,R,None,BJ,None,None,32192,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
15,32170,250,2024-09-03,1438,2024-09-13,R,None,BJ,None,None,32170,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
16,32558,905,2024-10-21,300671,2024-10-24,R,None,JT,None,None,32558,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
17,32592,305,2024-10-22,990573,2024-10-29,R,None,20,None,None,32592,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
18,32465,250,2024-09-03,2747,2024-09-24,R,None,BJ,None,None,32465,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
19,32276,305,2024-09-03,990356,2024-09-09,R,None,20,None,None,32276,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
20,32654,305,2024-10-21,990675,2024-11-05,R,None,10,None,None,32654,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
21,32655,305,2024-10-21,442830,2024-11-05,R,None,10,None,None,32655,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
22,32410,250,2024-09-03,2129,2024-09-17,R,None,AK,None,None,32410,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
23,32559,904,2024-10-21,100740,2024-10-24,R,None,H3,None,None,32559,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
24,32560,904,2024-10-21,100706,2024-10-24,R,None,H3,None,None,32560,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
25,32561,904,2024-10-21,100799,2024-10-24,R,None,H3,None,None,32561,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
26,32562,904,2024-10-21,100821,2024-10-24,R,None,H3,None,None,32562,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
27,32563,904,2024-10-21,100158,2024-10-24,R,None,H3,None,None,32563,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
28,32564,904,2024-10-21,343991,2024-10-24,R,None,H3,None,None,32564,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
29,32265,305,2024-10-21,990399,2024-11-04,R,None,10,None,None,32265,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
30,32266,305,2024-10-21,990707,2024-11-04,R,None,10,None,None,32266,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
31,32164,250,2024-09-03,3630,2024-09-11,R,None,None,None,None,32164,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
32,32623,305,2024-10-21,990387,2024-10-31,R,None,10,None,None,32623,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
33,32624,305,2024-10-21,636179,2024-10-31,R,None,10,None,None,32624,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
34,32556,905,2024-10-21,326189,2024-10-24,R,None,JT,None,None,32556,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
35,32557,905,2024-10-21,362180,2024-10-24,R,None,JT,None,None,32557,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
36,32468,305,2024-09-03,990713,2024-09-24,R,None,20,None,None,32468,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
37,32435,305,2024-09-03,990056,2024-09-18,R,None,17,None,None,32435,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
38,32160,250,2024-09-03,3630,2024-09-10,R,None,None,None,None,32160,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
39,32182,254,2024-09-23,316110,2024-09-24,R,None,F1,None,None,32182,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
40,32440,305,2024-09-03,990658,2024-09-19,R,None,20,None,None,32440,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
41,32467,250,2024-09-03,1627,2024-09-24,R,None,BJ,None,None,32467,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
42,32183,254,2024-09-23,316110,2024-09-24,R,None,L2,None,None,32183,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
43,32493,251,2024-09-03,547031,2024-10-08,R,None,DI,None,None,32493,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
44,32470,250,2024-09-03,3238,2024-09-24,R,None,AK,None,None,32470,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
45,32314,904,2024-09-03,5704,2024-09-10,R,None,KD,None,None,32314,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
46,32367,250,2024-09-05,3864,2024-09-16,R,None,None,None,None,32367,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
47,32268,250,2024-10-23,225601,2024-12-02,R,None,AA,None,None,32268,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
48,32267,250,2024-10-08,4019,2024-11-15,R,None,None,None,None,32267,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
49,32401,251,2024-09-03,309958,2024-09-17,R,None,BJ,None,None,32401,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
50,32269,250,2024-10-23,2499,2024-12-02,R,None,AA,None,None,32269,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999
51,32186,250,2024-09-19,34834,2024-09-26,R,None,II,None,None,32186,CSPOMS,CSPOMS,In CSPOMS but not in Oracle,E,CSPOMS,2024-10-29 01:07:54.817365-04:00,CSPOMS,2024-10-29 01:07:54.817365-04:00,-999

In [30]:
from psycopg2.extras import execute_batch
post_conn = connection

def insert_data_in_batches( dataframe, connection, cursor, table_name):
    num_records = len(dataframe)
    fields = [col for col in dataframe.columns]
    str_sub = ', '.join(['%s'] * len(fields))
    insert_query = f"INSERT INTO {table_name} ({', '.join(fields)}) VALUES ({str_sub})"

    try:
        print('before insert')
        datadict = dataframe.to_dict('records')
        tuple_rec = [tuple(df.values()) for df in datadict]
        execute_batch(cursor, insert_query, tuple_rec)
        print('after insert')
    except Exception as e:
        connection.rollback()
        print(f'Error inserting batch: {e}')
        raise

    print(f'INSERTED TOTAL {num_records} RECORDS TO {table_name} TABLE')
    
try:
    print(f'Length of DataFrame:', len(po_not_in_oracle))
    insert_data_in_batches(po_not_in_oracle, post_conn, post_cur, 'XXPO_PO_RECON_INBOUND')
    print('Data insertion completed successfully.')
except Exception as e:
    print('Error during data insertion:', e)
print('data_tuples prepared')
post_conn.commit()

Length of DataFrame: 52
before insert
after insert
INSERTED TOTAL 52 RECORDS TO XXPO_PO_RECON_INBOUND TABLE
Data insertion completed successfully.
data_tuples prepared