In [1]:
import pandas as pd

In [2]:
data = {'Name':'Yogesh',
       'age':28
       ,'Job':'Software Developer'}
df = pd.DataFrame(data)
df

ValueError: If using all scalar values, you must pass an index

In [3]:
import pandas as pd

data = {'Name': ['Yogesh'], 
        'Age': [28], 
        'Job': ['Software Developer']}

df = pd.DataFrame(data)
print(df)
df

     Name  Age                 Job
0  Yogesh   28  Software Developer

In [4]:
df

     Name  Age                 Job
0  Yogesh   28  Software Developer

In [5]:
data = [{'Name': 'Yogesh', 'Age': 28, 'Job': 'Software Developer'}]
df = pd.DataFrame(data)
print(df)

     Name  Age                 Job
0  Yogesh   28  Software Developer

In [6]:
df

     Name  Age                 Job
0  Yogesh   28  Software Developer

In [4]:
str = 'Yogesh'
str[::-1]

'hsegoY'

In [6]:
a = [1,2,4,5,6,3]
m = max(a)
m

6

In [2]:
import sys
x = 11
if x <= 1:
    print('-1')
for i in range(int(x**0.5+1)):
    if x%1 == 0:
        print('its not prime')
        sys.exit()
print('its prime')

its not prime

SystemExit:

C:\Users\DELL\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [10]:
def sumOfDigits(n):
    if n > 9:
        return n % 10 + sumOfDigits(n // 10)
    else:
        return n

a = sumOfDigits(112)
a

4